<<<<<<< HEAD
#venue .venue-info {
    background: url("../img/shark-bg.jpeg") top center no-repeat;
    background-size: cover;
    position: relative;
=======
.venue-info {
    border: 5px solid red;
>>>>>>> master
}